@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Raleway:wght@100;500;600&display=swap");

/* tailwindcss base styles */
@import "tailwindcss/base";

/* tailwindcss component styles */
@import "tailwindcss/components";

/* tailwindcss utility styles */
@import "tailwindcss/utilities";

.main-logo {
  width: 120px;
  height: 60px;
  /* margin-top: 5rem; */
}

.about-img img {
  position: relative;
  z-index: 2;
}

.about-img::before {
  position: absolute;
  content: "";
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: #bf9410;
  transform: skew(20deg);
  z-index: 1;
}

@keyframes counter-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-counter-up {
  animation: counter-up 0.2s ease-in-out;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .main-logo {
    margin-top: 5rem;
  }

  .impact-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 18px;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-left: 4.4rem;
    /* margin-left: 1.8rem; */
    margin-bottom: 2.5rem;
  }

  .counter-item {
    width: 250px;
    height: 200px;
    align-items: center;
    text-align: center;
  }

  .counter-item h2 {
    font-size: 3.5rem;
  }

  .list-content {
    margin-left: 2.7rem;
  }

  .listing-button {
    margin-right: 2.2rem;
  }
  .right-section p {
    font-size: 13px;
  }
  .listing-main p {
    max-width: 100%;
    font-size: 13px;
  }
  .footer {
    margin-left: 20px;
  }

  .ike {
    margin-left: -5.2rem;
  }

  .one {
    margin-right: 30px;
  }

  .three {
    margin-bottom: -2px;
    margin-top: 4.5px;
  }

  .two {
    margin-top: 4px;
  }

  .top {
    font-size: 12px;
  }

  .footer-form {
    margin-right: 6rem;
  }
}
